In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
from ibm_watson_studio_lib import access_project_or_space
wslib = access_project_or_space()

import pandas as pd

df_data_1 = pd.read_csv(wslib.mount.get_data_path('Elnino.csv'))
df_data_1.head()

,buoy_day_ID,buoy,day,latitude,longitude,zon_winds,mer_winds,humidity,airtemp,s_s_temp,text
0,1,1,1,8.96,-140.32,-6.3,-6.4,83.5,27.32,27.57,sea salt
1,2,1,2,8.95,-140.32,-5.7,-3.6,86.4,26.70,27.62,sea salt
2,3,1,3,8.96,-140.32,-6.2,-5.8,83.0,27.36,27.68,sea salt
3,4,1,4,8.96,-140.34,-6.4,-5.3,82.2,27.32,27.70,sea salt
4,5,1,5,8.96,-140.33,-4.9,-6.2,87.3,27.09,27.85,sea salt

In [3]:

df_data_2 = pd.read_csv(wslib.mount.get_data_path('Elnino.csv'))
df_data_2.head()

,buoy_day_ID,buoy,day,latitude,longitude,zon_winds,mer_winds,humidity,airtemp,s_s_temp,text
0,1,1,1,8.96,-140.32,-6.3,-6.4,83.5,27.32,27.57,sea salt
1,2,1,2,8.95,-140.32,-5.7,-3.6,86.4,26.70,27.62,sea salt
2,3,1,3,8.96,-140.32,-6.2,-5.8,83.0,27.36,27.68,sea salt
3,4,1,4,8.96,-140.34,-6.4,-5.3,82.2,27.32,27.70,sea salt
4,5,1,5,8.96,-140.33,-4.9,-6.2,87.3,27.09,27.85,sea salt

In [6]:

df_data_3 = pd.read_excel(wslib.mount.get_data_path('financial_sample.xlsx'))
df_data_3.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014