In [2]:

from pyspark.sql import SQLContext


df_data_1 = SQLContext(sc).read.csv('/project_data/data_asset/CensusIncome_csv_drh6oxmia19lykiw9gy93gfzr.csv', header='true', inferSchema = 'true')
df_data_1.show(5)

+---+-----------------+----------------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------------+
|age|        workclass|Financial-Weight| education|education-num|     marital-status|        occupation|  relationship|  race|    sex|capital-gain|capital-loss|hours-per-week|native-country|SalaryOver50k|
+---+-----------------+----------------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------------+
| 39|        State-gov|           77516| Bachelors|           13|      Never-married|      Adm-clerical| Not-in-family| White|   Male|        2174|           0|            40| United-States|        <=50K|
| 50| Self-emp-not-inc|           83311| Bachelors|           13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            13| United-States|        <=50K|
| 38|          Private|          215646|   HS-grad|            9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|           0|           0|            40| United-States|        <=50K|
| 53|          Private|          234721|      11th|            7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|           0|           0|            40| United-States|        <=50K|
| 28|          Private|          338409| Bachelors|           13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|           0|           0|            40|          Cuba|        <=50K|
+---+-----------------+----------------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+-------------+
only showing top 5 rows

In [3]:

df_data_3 = SQLContext(sc).read.csv('/project_data/data_asset/Weather_csv_b1wqj93nhp5wc1t8kzwgdx8hv.csv', header='true', inferSchema = 'true')
df_data_3.show(5)

+-------+-------+-------+--------------+----+-----+---+----+-------------+----------+---------+-----------+----------+----------+--------------+
|Country|  State|   City|          DATE|Year|Month|Day|Hour|Precipitation|Cloudiness|Dew point|Temperature|Wind chill|Wind speed|Wind direction|
+-------+-------+-------+--------------+----+-----+---+----+-------------+----------+---------+-----------+----------+----------+--------------+
| Canada|Ontario|Timmins|20100101 00:00|2010|    1|  1|   0|       1021.2|       364|      0.8|        5.8|       3.4|       4.3|           263|
| Canada|Ontario|Timmins|20100101 01:00|2010|    1|  1|   1|       1021.0|       398|      0.9|        5.5|       2.9|       4.3|           271|
| Canada|Ontario|Timmins|20100101 02:00|2010|    1|  1|   2|       1020.9|       409|      0.8|        5.2|       2.5|       4.3|           263|
| Canada|Ontario|Timmins|20100101 03:00|2010|    1|  1|   3|       1020.9|       427|      0.8|        4.9|       2.2|       4.2|           279|
| Canada|Ontario|Timmins|20100101 04:00|2010|    1|  1|   4|       1020.9|       411|      0.8|        4.6|       1.8|       4.2|           285|
+-------+-------+-------+--------------+----+-----+---+----+-------------+----------+---------+-----------+----------+----------+--------------+
only showing top 5 rows

In [4]:
sc.version

'3.0.1'